.back{
    margin-left: 50px;
    color: rgb(14, 153, 228);


}

.Tovary{

    margin-left: 100px;
    display: grid;

    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr 3fr;
}

.Tovaryandsell{

    display: grid;

    grid-template-columns: 3fr;
    grid-template-rows: 3fr;

    margin-top: 50px;

}

.sell:hover{

    background-color: aqua;
}
.sell{

    width: 200px;
}

.price{

    text-align: center;
}
