body{

    background-image: url(https://sun9-80.userapi.com/impg/tLsa8K0fkiQU4SmpJAerhrIkXUxrXUfk9ObxAQ/03AkYVZZgW4.jpg?size=2048x1152&quality=95&sign=3d3b62e943e310437b5b912e23ab7a62&type=album);

    background-repeat: no-repeat;

    background-size: cover;
}

.back{
    margin-left: 50px;
    color: rgb(14, 153, 228);


}



